
:root{
    --font-family-inter: 'Inter', sans-serif;
    --base-color-primary: #B92825;
    --base-color-primary-rgb: 185, 40, 37;
    --base-color-primary-hover: #a90014;
    --base-color-primary-disabled: #d46f7b;
    //--base-color-primary-dull: #B92825;
    --base-color-secondary: #263C82;
    --txt-color: #4A5568;
    --txt-color-dark: #8B8D98;
    --button-border-color: #D0D5DD;
    --table-border-color: #E6EDF3;

    --trans-primary: all 0.3s ease;
    --header-space: 0px;

    --black-01: #333;
    --black-02: #4A5568;
    --black-03: #17171B;



}
.dropdown-menu{
    --bs-dropdown-link-active-bg: var(--base-color-primary);
}
.fancybox__container{
    --fancybox-bg: rgb(255 255 255 / 93%);
}