@use '../base/mixins' as *;

.hero-section{
    background: url(assets/images/bg-banner-min.png) center no-repeat; background-size: cover; position: relative;
    height: 100vh; display: flex; align-items: center;padding-top: 110px; color: #fff; text-align: center;
    .sub-title{
        @include para(18px, 600, 0 0 20px, 0); color: var(--base-color-primary);
        @include mobile{ font-size: 14px; }
    }
    .main-title{
        @include para(56px, 800, 0 0 20px, 0);
        @include tablet{ font-size: 46px; line-height: 1; padding: 0 20px;}
        @include mobile{ font-size: 26px; line-height: 1.6;}
    }
    .para{
        @include para(18px, 400, 0, 0); line-height: 1.5; color: #C0C0C0;
        @include mobile{ font-size:14px; line-height: 1.6;}
    }
    .circleFig{
        width: 175px; height: 175px; border-radius: 50%; border: 1px solid rgba(#fff, 0.1); display: block; margin: 30px auto 0; position: relative; display: none;
        @include tablet{display: none;}
        &:before{
            content: ''; width: 60%; height: 60%; @include fxdcenter(absolute); background: linear-gradient(to right, rgba(#2257BF, 1), rgba(#00B2FF, 0)); border-radius: 50%; opacity: 0.15;
        }
    }
    .app-links{
        // margin-top: -150px;
        margin-top: 90px; display: flex; justify-content: center;position: relative; z-index: 10;
        @include tablet{margin-top: 110px;}
        a{
            display: block;
            +a{margin-left: 20px;}
        }
    }
    &:before{content: '';width: 430px; height: 520px; position: absolute; bottom: -300px; left: -320px; background-color: #AD1AAF; filter: blur(100px); opacity: 0.3;}
    .slick-dots{
        bottom: 0px; width: auto; right: 0px;
        @include tablet{
            bottom: -220px; left: 0;
        }
        li{
            width: auto; height: auto; display: block;
            @include tablet{display: inline-block;}
            button{
                background: #2D2F43; height: 30px; width: 4px; padding: 0;
                &:before{content: initial;}
                @include tablet{height: 4px; width: 30px;}
            }
            &.slick-active button{background: var(--base-color-primary);}
            +li{
                margin-top: 10px;
                @include tablet{margin-top: 0;}
            }
        }
    }
}

.servcicesFold{
    position: relative; overflow: hidden;
    &:before{content: ''; width: 890px; height: 200px; position: absolute; top: 400px; left: 0; right: 0; margin: auto; background-color: #B72346; filter: blur(100px); opacity: 0.2;}
    .genContent{
        margin-bottom: 80px;
    }
}

.single-service{
    position: relative; padding: 20px 0; border-radius: 24px; background-color: rgba(#fff, 0.5); border: 1px solid #EAE7F9; overflow: hidden;
    @include tablet{margin-bottom: 30px;}
    >span{
         position: absolute; top: -20px; right: 10px; color: #fff; width: 100px; height: 130px; background: center no-repeat; 
         @include tablet{top: 63vw;}
    }
    &.item01{
        >span{background-image: url(assets/images/services-count-01.svg);}
    }
    &.item02{
        >span{background-image: url(assets/images/services-count-02.svg);}
    }
    figure{
        width: 185px; aspect-ratio: 185 / 252; position: absolute; top: 20px; left: 20px; border-radius: 10px;
        @include imgCover();
        @include tablet{width: auto; position: relative; top: 0; left: 0; margin: 0 20px 20px; aspect-ratio: 3 / 2;}
    }
    .content{
        padding: 20px 0 0 230px; min-height: 250px;
        @include tablet{padding: 20px; min-height: auto;}
        h5{
            @include para(24px, 700, 0 0 10px, 0); color: #000; line-height: 2rem;
            span{
                display: block; color: var(--base-color-primary);
            }
        }
        p{@include para(18px, 400, 0 0 20px, 0); color: var(--txt-color); line-height: 2rem;}
    }
}

.whyChooseFold{
    background: url(assets/images/MilkyWay.png) center top no-repeat var(--bg-primary); background-size: contain;
    @include tablet{overflow: hidden;}
    .genContent{
       &, p{color: #fff;}
    }
    .foldImg{
        border: 1px solid #fff; background-color: #84969d; padding: 3px; box-shadow: 0 0 15px rgba(#12A660, 0.6);
    }
}

.aboutceoFold{
    position: relative; overflow: hidden;
    &:before{content: ''; width: 890px; height: 200px; position: absolute; top: 220px; left: 0; right: 0; margin: auto; background-color: #B72346; filter: blur(100px); opacity: 0.2;}
    &:after{content: '';width: 430px; height: 520px; position: absolute; bottom: -300px; left: -320px; background-color: #AD1AAF; filter: blur(100px); opacity: 0.3; z-index: 10;}
}

.talkToTeamFold{
    position: relative; background: url(assets/images/bg-sky-min.png) center top no-repeat var(--bg-primary); background-size: contain;
    .genContent{
       &, p{color: #fff;}
    }
    .sliderDv{
        @include tablet{margin-bottom: 90px;}
    }
    .slick-dots{
        bottom: -50px; text-align: left;
        li{
            button{
                background: #2D2F43; height: 4px; width: 30px; padding: 0;
                &:before{content: initial;}
            }
            &.slick-active button{background: var(--base-color-primary);}
            +li{margin-left: 10px;}
        }
    }
}

.contactFold{
    position: relative;
    &:before{content: ''; width: 100%; height: 50%; z-index: 1; position: absolute; bottom: 0px; left: 0; right: 0; transform: scale(-1);  background: url(assets/images/MilkyWay.png) center top no-repeat var(--bg-primary); background-size: contain;}
    .contactWrapper{
        position: relative; z-index: 10; overflow: hidden; border-radius: 30px; background: #fff; padding: 50px;
        @include tablet{padding: 50px 30px; margin: 0 -12px; border-radius: 0px; overflow: visible;}
        &:before{content: '';width: 260px; height: 260px; position: absolute; top: -40px; left: 60px; background-color: #B72346; filter: blur(100px); opacity: 0.2; z-index: 1;}
        &:after{content: '';width: 210px; height: 210px; position: absolute; bottom: 0px; right: 0px; background-color: #B72346; filter: blur(100px); opacity: 0.2; z-index: 1;}
        .main-title{@include para(48px, 600, 0 0 50px, 0); line-height: 4rem;}
        .contactInfo{
            .infoItem{
                position: relative; padding-left: 50px; margin-bottom: 50px;
                svg{position: absolute; top: 0; bottom: 0; left: 0; margin: auto; width: 25px; height: 25px; color: var(--base-color-primary);}
                span{
                    display: block; color: var(--txt-secondary-color); @include para(16px, 400, 0 0 15px, 0);
                    +span{display: block; color: #070113; @include para(18px, 500, 0, 0); line-height: 1.5;}
                }
            }
            @media (min-width:513px) and (max-width:992px){
                display: flex; flex-wrap: wrap; justify-content: space-between; gap: 20px;
                .infoItem{
                    padding-left: 0;
                    svg{position: relative; top: 0; left: 0; margin:0 0 20px;}
                }
            }
        }
    }
}

.whatsnewFold{
    position: relative; overflow: hidden;
    &:before{content: '';width: 430px; height: 520px; position: absolute; bottom: -300px; left: -320px; background-color: #AD1AAF; filter: blur(100px); opacity: 0.3; z-index: 10;}
    &:after{content: '';width: 430px; height: 520px; position: absolute; top: -130px; right: -230px; background-color: #AD1AAF; filter: blur(100px); opacity: 0.2; z-index: 10;}
    .sliderDv{
        position: relative; z-index: 20; margin-top: 80px;
        .sliderItem{
            .foldImg{width: 100%; max-width: 100%; aspect-ratio: 700 / 450;}
        }
        .slick-arrow-btn{
            position: absolute; top: -160px; width: 60px; height: 60px; z-index: 10; color: #8B8D98; border: 1px solid #8B8D98; border-radius: 50%; background-color: transparent; font-size: 20px;
            @include tablet{top: auto; bottom: -70px;}
            &:hover{background-color: var(--base-color-primary); border-color: var(--base-color-primary); color: #fff;}
            &.slick-prev-btn{
                right: 75px; left: auto;
            }
            &.slick-next-btn{
                right: 0;
            }
        }
    }
}